@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed";
    background: url(../assets/background-image2.jpeg) center fixed no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main {
    min-width: 70vw;
    margin: 2% 0;
    background-color: #094258;
    border: 2px solid black;
    box-shadow: 0px 0px 3px 3px black;
    border-radius: 5px;
    padding: 15px;
}

.container {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

label,
.label {
    font-size: 14px;
    font-weight: bold;
    color: #fef6fb;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 12px;
    background-color: #600808;
    box-shadow: 0 3px #f1d0d0;
    color: #fef6fb;
    border: none;
}

button:active {
    transform: translate(0, 3px);
    box-shadow: 0 1px #f6ffde;
}

/* To change color of radio buttons */
.accentColor {
    color: #600808;
    margin-right: 4px;
}

.gapping {
    margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

/* To hide arrows for input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 6px;
    border: 2px solid #bbb9b9;
    border-radius: 4px;
    /* To remove input default focus border */
    outline: none;
    font-family: "Roboto Condensed";
    font-size: 14px;
    color: #333;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #890b0b;
}

textarea {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 2px solid #bbb9b9;
    outline: none;
    /* To hide resize */
    resize: none;
    font-family: "Roboto Condensed";
    font-size: 14px;
    color: #333;
}

/* for placeholder */
::placeholder {
    font-size: 12px;
    color: grey;
}

p {
    color: #d91313;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

@media screen and (max-width: 650px) {
    .main {
        width: 90vw;
    }

    .container {
        grid-template-columns: 1fr;
    }

    input,
    select,
    textarea {
        font-size: 14px;
    }
}