@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed";
  background: url(./assets/body-background.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.main {
  width: 70vw;
  /* background-color: #0A4D68; */
  background: url(./assets/background.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  box-shadow: 0px 0px 3px 5px black;
  border-radius: 5px;
  padding: 15px;
}

.container {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-wrap: wrap;
}

label,
.label {
  font-size: 14px;
  font-weight: bold;
  color: #FEF6FB;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 12px;
  background-color: rgb(96, 8, 8);
  box-shadow: 0 3px #f1d0d0;
  color: #FEF6FB;
  border: none;
}

button:active {
  transform: translate(0, 3px);
  box-shadow: 0 1px #F6FFDE;
}

.accentColor {
  accent-color: black;
  margin-right: 4px;
}

.gapping {
  margin-right: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input,
select {
  padding: 6px;
  border: 2px solid #bbb9b9;
  border-radius: 4px;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgb(96, 8, 8);
}

textarea {
  width: -webkit-fill-available;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid #bbb9b9;
  outline: none;
}

@media screen and (max-width: 650px) {

  .main {
    width: 90vw;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  input,
  select,
  textarea {
    font-size: 14px;
  }
}